.carousel-item img {
    max-width: 1200px;
    height: 600px;
    overflow-y: hidden;
    object-position: center;
    margin: auto;
    border-radius: 25px;
    border-style: solid;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 10px;
}
.content-section {
    padding: 60px 0;
}
p{
    color:aliceblue;
}