.carousel-item img {
    max-width: 1200px;
    height: 600px;
    overflow-y: hidden;
    object-position: center;
    margin: auto;
    border-radius: 25px;
    border-style: solid;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 10px;
}
.content-section {
    padding: 60px 0;
}
p{
    color:aliceblue;
}
div.welcome{
    margin-top: 50px;
}
h1.welcome-heading{
    font-size: 64px;
    font-family: Luminari, fantasy;
}
.carousel-control-next-item, .carousel-control-prev-item{
    background-color: black;
}

div.wish{
    width: 75%;
    height: 400px;
    border-style: solid;
    border-radius: 5px;
    background-image: url('../img/wooden-floor.png');
    background-size: cover;
}   
div.welcome p{
    color: black;
}
div.sticker{
    background-color: beige;
    width: fit-content;
    font-family: 'Dancing Script', cursive;
    margin-top: 5px;
    border-radius: 5px;
}
.minigame{
    width: 750px;
    height: 750px;
}